{% extends 'base.html' %}
{% block content %}
<section class="container col-12 col-lg-6">
    <h2 class="py-3 text-center">{{ titulo|default:'Formulario' }}</h2>
    {% if not laboratorios %}
    <p class="p-1 text-center">No hay laboratorios registrados aún.</p>
    <p class="p-1 text-center">Para insertar un nuevo laboratorio ingrese <a href="/laboratorio/insertar/" class="d-inline text-dark fw-bold text-decoration-none">aquí.</a></p>
    {% else %}
    <table class="table">
        <thead>
            <tr>
            <th scope="col align-middle">Nombre</th>
            <th scope="col align-middle">Ciudad</th>
            <th scope="col align-middle">País</th>
            <th scope="col align-middle">Edit</th>
            <th scope="col align-middle">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for laboratorio in laboratorios %}
            <tr>
            <td scope="row" class="align-middle">{{laboratorio.nombre}}</td>
            <td class="align-middle">{{laboratorio.ciudad}}</td>
            <td class="align-middle">{{laboratorio.pais}}</td>
            <td class="align-middle"><a href="/laboratorio/{{laboratorio.id}}/actualizar/" class="ms-0 p-0 py-1 btn btn-link text-dark fw-bold">Actualizar</a></td>
            <td class="align-middle"><a href="/laboratorio/{{laboratorio.id}}/eliminar/" class="ms-0 p-0 py-1 btn btn-link text-dark fw-bold">Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="p-1">Para insertar un nuevo laboratorio ingrese <a href="/laboratorio/insertar/" class="d-inline text-dark fw-bold text-decoration-none">aquí.</a></p>
    {% endif %}
</section>
{% endblock content %}